<div class="container">
  <div class="p-2">
    <h2><%= @question %></h2>
    <p><%= @answer %></p>

    <p class="text-decoration-none">
      <%= link_to "Ask a new question", ask_path %>
    </p>
  </div>
</div>
